<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

#### Add your code below following the instructions given in the course

Exercise 2: Creating markdown cell with title of the notebook

# Data Science Tools and Ecosystem

Exercise 3: Creating a markdown cell for an introduction

In this notebook, Data Science Tools and Ecosystem are summarized.

Exercise 10: Inserting a markdown cell to list Objectives

**Objectives:**
- List popular languages for Data Science
- List data science libraries
- List commonly used libraries used by Data Scientists
- Examples of evaluating arithmetic expressions in Python

Exercise 4: Creating a markdown cell to list data science languages

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. Java
5. Scala
6. C++
7. Julia

Exercise 5: Creating a markdown cell to list data science libraries

Some of the commonly libraries used by Data Scientists include:
1. Pandas
2. NumPy
3. Matplotlib
4. Seaborn
5. Scikit-learn
6. Keras
7. TensorFlow
8. PyTorch

Exercise 6: Creating a markdown cell with a table of Data Science tools

| Data Science Tools |
| ------------------ |
| Jupyter Notebook |
| RStudio |
| Visual Studio Code |

Exercise 7: Creating a markdown cell introducing arithmetic expression examples

### Below are a few examples of evaluating arithmetic expressions in Python

Exercise 8: Creating a code cell to multiply and add numbers

In [3]:
# This is a simple arithmetic expression to multiply then add integers
(3*4)+5

17

Exercise 9: Creating a code cell to convert minutes to hours

In [4]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

Exercise 11: Creating a markdown cell to indicate the Author's name

## Author
Marina Astapchyk